@model List<Departamento> 

<h1>Departamentos</h1>

<table class="table table-info">
    <thead>
        <tr>
            <th>Número</th>
            <th>Nombre</th>
            <th>Localidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Departamento d in Model)
            {
                <tr>
                    <td>@d.IdDepartamento</td>
                    <td>@d.Nombre</td>
                    <td>@d.Localidad</td>
                    <td>
                        <a asp-controller="Departamentos"
                           asp-action="Details"
                           asp-route-id="@d.IdDepartamento">
                            Detalles
                        </a>
                        <a asp-controller="Departamentos"
                           asp-action="Edit" class="btn btn-info"
                           asp-route-id="@d.IdDepartamento">
                            Modificar
                        </a>
                    </td>
                </tr>
            }
    </tbody>
</table>